Exercise 1: Create a Jupyter Notebook called DataScienceEcosystem.ipynb

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

**Objectives:**
* List popular languages that Data Scientist use
* List commoly used libraries by Data Scientist
* Know Data Science Tools
* Basics arithmetic expressions in Python

Exercise 10 - Insert a markdown cell to list Objectives

### In this notebook we will see a summary of Data Science Ecosystem, we will cover things such as data science tools, data science languages, data science libraries. Furthermore, some expressions in python.

Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|-|
|Jupyterlab|
|RStudio|
|Anaconda|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [17]:
# This a simple arithmetic expression to multiply then add integers:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [15]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Joaqu√≠n O.